/*-- scss:defaults --*/
// Base document colors
$body-bg: #222;
$body-color: #b7b7b7;
$light: #2c3e50;
// $link-color: #75AADB;

// Code blocks
$code-block-bg-alpha: -.8;

/*-- scss:rules --*/
body:not(.floating) .nav-footer {
    border-top: none;
  }